<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Date of Pickup</th>
					
                </tr>
            </thead>
            <tbody id="orderTableBody">
				
				<% order.forEach(function(order){ %>
					<tr>
						
						<td class="px-4 py-2 text-left"><%= order.name %></td>
						<td class="px-4 py-2 text-left"><%= order.area %></td>
						<td class="px-4 py-2 text-left">status</td>
						<td class="px-4 py-2 text-left"><%= order.date %></td>
						
					</tr>
				<% }) %>
				
            </tbody>
        </table>
    </div>
</section>