<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<!-- Mirrored from sktperfectdemo.com/demos/junkremoval/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Oct 2020 14:37:12 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<link rel="profile" href="http://gmpg.org/xfn/11"/>
<link rel="pingback" href="xmlrpc.php" /> 
<title>Get Out Garbage</title>
<meta name='robots' content='noindex,nofollow' />
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="Junk Removal WordPress Theme &raquo; Feed" href="https://sktperfectdemo.com/demos/junkremoval/feed/" />
<link rel="alternate" type="application/rss+xml" title="Junk Removal WordPress Theme &raquo; Comments Feed" href="https://sktperfectdemo.com/demos/junkremoval/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-includes/css/dist/block-library/style.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='complete-style-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/style.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-style-core-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/style_core.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-animated_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/animate.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-static_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/nivo-slider.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-gallery_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/prettyPhoto.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-awesome_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/fonts/font-awesome.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-owl_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/owl.carousel.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete_google_fonts-css'  href='http://fonts.googleapis.com/css?family=Assistant%3A200%2C800%2C700%2C600%2C400%2C300%7COswald%3Aregular%2C700%2C300%26subset%3Dlatin%2C' type='text/css' media='screen' />
<link rel='stylesheet' id='elementor-icons-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-animations-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-legacy-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-131-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/post-131.css?ver=1600421667' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/global.css?ver=1600421667' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-7-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/post-7.css?ver=1600432743' type='text/css' media='all' />
<link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COswald%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CAssistant%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CLato%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-icons-shared-0-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.12.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-icons-fa-solid-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.12.0' type='text/css' media='all' />
<link rel='stylesheet' id='ns_styles-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/themebar/style.css?ver=5.5.1' type='text/css' media='all' />
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/complete.js?ver=1' id='complete_js-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/owl.carousel.js?ver=1' id='complete_owl-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/other.js?ver=1' id='complete_otherjs-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.bxslider.min.js?ver=1' id='complete_testimonialjs-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/index.js?ver=1' id='complete_index-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.quicksand.js?ver=1' id='complete_galjs1-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/script.js?ver=1' id='complete_galjs3-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/counterup.min.js?ver=1' id='complete_count-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/verticalslider.js?ver=1' id='complete_verticalslider-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.prettyPhoto.js?ver=1' id='complete_galjs4-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/themebar/js/jquery.cookie.js?ver=5.5.1' id='ns_cookiescript-js'></script>
<link rel="https://api.w.org/" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/" /><link rel="alternate" type="application/json" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/wp/v2/pages/7" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://sktperfectdemo.com/demos/junkremoval/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://sktperfectdemo.com/demos/junkremoval/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.5.1" />
<link rel="canonical" href="https://sktperfectdemo.com/demos/junkremoval/" />
<link rel='shortlink' href='https://sktperfectdemo.com/demos/junkremoval/' />
<link rel="alternate" type="application/json+oembed" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsktperfectdemo.com%2Fdemos%2Fjunkremoval%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsktperfectdemo.com%2Fdemos%2Fjunkremoval%2F&amp;format=xml" />
<style type="text/css">

/*Fixed Background*/

	/*BOXED LAYOUT*/
	.site_boxed .layer_wrapper, body.home.site_boxed #slidera {width: 83.5%;float: left;margin: 0 8.25%;
	background: #ffffff;}
	.site_boxed .stat_bg, .site_boxed .stat_bg_overlay{width: 83.5%;}
	.site_boxed .social_buttons{background: #ffffff;}
	.site_boxed .center {width: 95%!important;margin: 0 auto;}
	.site_boxed .head_top .center{ width:95%!important;}



/*Site Content Text Style*/
body, button, input, select, textarea{ 
	font-family:Assistant; 	font-size:17px; }

.footer-post-area ul li h4,
.footer-post-area ul li h4 a{font-family:Assistant;}

.single_post .single_post_content .tabs li a:link, .single_post .single_post_content .tabs li a:visited{ color:#2b2b2b;}

.page_head{ background:#545556; color:#555555;}
.page_head .postitle{color:#555555;}	
.page_head .layerbread a:link, .page_head .layerbread a:visited{color:#555555;}	
.page_head_bg{background:url(https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/default-header-img.jpg);}


/*Feattured Boxes Section*/
.featured_area_bg{background:url();}
.featured_area{background-color:#f2f2f2;}
.featured_block img{height:70px;; width:70px;} 
.featured_block{background-color:#ffffff;}

.sktmore,
.newsletter-form input[type="submit"]{background-color:#33cf9f;}
.sktmore:hover,
.newsletter-form input[type="submit"]:hover{background-color:#393939;}

.left-fit-title h3, .right-fit-title h3, .left-fit-desc, .right-fit-desc{color:#282828;}
.left-fitright, .right-fitleft{background-color:#282828;}


.left-fitbox a:hover h3, .right-fitbox a:hover h3{color:#f3f3f3;}
.left-fitbox a:hover .left-fitright, .right-fitbox a:hover .right-fitleft{background-color:#f3f3f3;}

.right-fitleft, .left-fitright{color:#282828;}
.right-fit-desc, .left-fit-desc{border-bottom-color:#282828;}

.expanding-grid .spacer{background-color:#33cf9f;}
.expand-left h2, .expand-left{color:#000000;}

.headingseperator h3{color:#000000;}
.headingseperator h3::after{border-bottom-color:#33cf9f;}

.expanding-grid .links > li a.active:after{border-bottom-color:#33cf9f;}

.squarebox{background-color:#ffffff;}
.squarebox:hover{background-color:#79ab9f;}
.squaretitle{color:#000000;}

.perfectbox{background-color:#ffffff; border-color:#eaeaea;}
.perfectborder:hover, .perfectbox:hover{border-color:#33cf9f !important;}

.post_block_style3{background-color:#ffffff; border-color:#eaeaea;}
.post_block_style3:before{background:#9f9f9f;}

/*-----------------------------COLORS------------------------------------*/
		/*Header Color*/
		.header{background-color: rgba(12,12,12, 0);}
				
				
		/*Head Top Bar Color*/
		.head-info-area{background-color: rgba(40,40,40, 1);}
		
						.has_trans_header .header_wrap {float: left; position: absolute;z-index: 999; width: 100%;}

		/*Boxed Header should have boxed width*/
		body.home.site_boxed .header_wrap.layer_wrapper{width: 83.5%;float: left;margin: 0 8.25%;}
		
		.home.has_trans_header .header, .home.has_trans_header.page.page-template-page-frontpage_template .header{background-image:none;}
						
		
		@media screen and (max-width: 767px){
		.home.has_trans_header .header{background:#0c0c0c!important;}
		}
		/*LOGO*/
		.logo img{height:113px;; width:253px;; margin-top:0px;;} 

				.logo h2, .logo h1, .logo h2 a:link, .logo h2 a:visited, .logo h1 a:link, .logo h1 a:visited, .logo h2 a:hover, .logo h1 a:hover{ 
			font-family:'Assistant';
			font-size:40px;
			color:#282828;
		}
		/*HEADER TEXT BAR*/
				.head-info-area, .head-info-area a:link, .head-info-area a:visited{ 
			font-family:'Assistant'; 			font-size:16px;			color:#ffffff;
		}	
		
		.head-info-area a:hover{ 
			color:#edecec;
		}		
		
		a{color:#33cf9f;}
		a:hover{color:#685031;}
		
		
		/*Slider Title*/
		.home.has_trans_header .nivo-caption:before{background-color: rgba(51,207,159, 0.5);}
		
		
				.title{ 
			font-family:'Oswald'; 			font-size:72px;			color:#ffffff;
		}	
		
				.slidedesc{ 
			font-family:'Assistant'; 			font-size:19px;			color:#ffffff;
		}	
		
				.slidebtn{ 
			font-family:'Assistant'; 			font-size:17px;;
		}
		.slider-main .nivo-caption .slidebtn a{ 
			color:#ffffff; background-color:#282828;
		}	
		.slider-main .nivo-caption .slidebtn a:hover{background-color:#33cf9f; color:#ffffff;}
		
		.nivo-controlNav a{background-color:#000000}
		.nivo-controlNav a.active{background-color:#33cf9f}				
				
		/* Global H1 */	
						h1{ 
			font-family:'Assistant'; 			font-size:32px;			color:#282828;
		}
		
		h1 a:hover{ 
			color:#33cf9f;
		}
		
		/* Global H2 */	
						h2{ 
			font-family:'Assistant'; 			font-size:28px;		color:#282828;
		}
		
		h2 a:hover{ 
			color:#33cf9f;
		}
				
		/* Global H3 */	
						h3{ 
			font-family:'Assistant'; 			font-size:24px;		color:#282828;
		}
		
		h3 a:hover{ 
			color:#33cf9f;
		}
		
		/* Global H4 */	
						h4{ 
			font-family:'Assistant'; 			font-size:13px;		color:#282828;
		}
		
		h4 a:hover{ 
			color:#33cf9f;
		}	
		
		/* Global H5 */	
						h5{ 
			font-family:'Assistant'; 			font-size:11px;		color:#282828;
		}
		
		h5 a:hover{ 
			color:#33cf9f;
		}	
		
		/* Global H6 */	
						h6{ 
			font-family:'Assistant'; 			font-size:9px;		color:#282828;
		}
		
		h6 a:hover{ 
			color:#33cf9f;
		}
		
		/* Post Meta Color */
		.post_block_style1_meta, .post_block_style1_meta a:link, .post_block_style1_meta a:visited, .post_block_style2_meta, .post_block_style2_meta a:link, .post_block_style2_meta a:visited, .single_metainfo, .single_metainfo a:link, .single_metainfo a:visited{ 
			color:#282828;
		}
		
		/* Team Box Background Color */
		.team-infobox{ 
			background-color:#f7f7f7;
		}
		
		/* Social Icon Background Color */
		.social-icons a:link, .social-icons a:visited{ 
			background-color:#151515;
			color:#ffffff;
		}	
		
		/* Social Icon Hover Background Color */
		.social-icons a:hover{ 
			background-color:#33cf9f;
			color:#151515;
			border-color:#33cf9f;
		}
		
		/* Teambox Background Color */
		.testimonial-box{ 
			background-color:#ffffff;
		}	
		.testimonial-box:after{ 
			border-top-color:#ffffff;
		}
		.testimonilacontent, .bxslider li h3, .bxslider li p{color:#000000;}
		
		.testimonilacontent{background-color:#ffffff;}
		.testimonilacontent:after{border-top-color:#ffffff;}
		
		/* Pager Color */
		.skt-testimonials .owl-dots .owl-dot{ 
			background:#000000;
		}	
		
		/* Pager Active Color */
		.skt-testimonials .owl-dots .owl-dot.active{ 
			background:#33cf9f;
		}
		
		/* Gallery Filter Active Bgcolor */
		.portfolio-categ li a:link, .portfolio-categ li a:visited{ 
			color:#909090;
		}		
		
		/* Gallery Filter Active Bgcolor */
		.portfolio-categ li.active a:link, .portfolio-categ li.active a:visited{ 
			color:#f1b500;
		}	
		
			
		
		.portfolio-content .portfolio-area li .image-block-title{background-color: rgba(241,181,0, 0.7); color:#ffffff;}
		
		/* Skills Bar Background Color */
		.skill-bg{ 
			background-color:#f8f8f8;
		}	
		
		/* Skills Bar Text Color */
		.skillbar-title{ 
			color:#ffffff;
		}			
															
		#simple-menu{color:#ffffff;}
		body.home.has_trans_header #simple-menu{color:#fff;}
		span.desc{color:#282828;}
		
		.header-extras li a,
		.header-extras li .header-search-toggle{color:#ffffff;}
		.header-extras li a:hover,
		.header-extras li .header-search-toggle:hover{color: #33cf9f;}
		.header-extras li .custom-cart-count{background-color: #33cf9f;}
		
		/*MENU Text Color*/
		#topmenu ul li a{color:#ffffff;}
		#topmenu ul li.menu_hover a:link, #topmenu ul li.menu_hover a:visited{border-color:#33cf9f;}
		#topmenu ul li.menu_hover>a:link, #topmenu ul li.menu_hover>a:visited, body.has_trans_header.home #topmenu ul li.menu_hover>a:link, body.has_trans_header.home #topmenu ul li.menu_hover>a:visited{color:#33cf9f;}
		#topmenu ul li.current-menu-item>a:link, #topmenu ul li.current-menu-item>a:visited, #topmenu ul li.current-menu-parent>a:link, #topmenu ul li.current_page_parent>a:visited, #topmenu ul li.current-menu-ancestor>a:link, #topmenu ul li.current-menu-ancestor>a:visited{color:#33cf9f;}
		#topmenu ul li ul{border-color:#33cf9f transparent transparent transparent;}
		#topmenu ul.menu>li:hover:after{background-color:#33cf9f;}
		#topmenu ul li ul li a:hover{color:#33cf9f;}
		
		#topmenu ul li.appointment-btn a{background-color: #33cf9f; color: #fff !important;}
		#topmenu ul li.appointment-btn a:hover{background-color: #ffffff; color: #fff !important;}
		
#topmenu ul li.current-menu-item > a:link:after, #topmenu ul li.current-menu-item > a:visited:after, #topmenu ul li.current-menu-parent > a:link:after, #topmenu ul li.current_page_parent > a:visited:after, #topmenu ul li.current-menu-ancestor > a:link:after, #topmenu ul li.current-menu-ancestor > a:visited:after{content:''; border-bottom-color:#33cf9f !important;}		
		
		#topmenu ul.menu ul li{background-color:#ffffff;}		
		
		#topmenu ul.sub-menu li a, #topmenu ul.children li a{color:#282828;}	
		#topmenu ul.sub-menu li a:hover, #topmenu ul.children li a:hover, #topmenu li.menu_highlight_slim:hover, #topmenu ul.sub-menu li.current_page_item a, #topmenu ul.children li.current_page_item a, #topmenu ul.sub-menu li.current-menu-item a, #topmenu ul.children li.current-menu-item a{background-color:#282828 !important;}	

		.sidr{ background-color:#282828;}
		.pad_menutitle{ background-color:#33cf9f;}
		.sidr ul li a, .sidr ul li span, .sidr ul li ul li a, .sidr ul li ul li span{color:#ffffff;}
		.sidr ul li.sidr-class-current-menu-item > a{color:#33cf9f;}
		
		#simple-menu .fa-bars{color:#33cf9f !important;}
		.pad_menutitle .fa-bars, .pad_menutitle .fa-times{color:#ffffff !important;}				

		.head_soc .social_bookmarks a:link, .head_soc .social_bookmarks a:visited{color:#ffffff;}
		.head_soc .social_bookmarks.bookmark_hexagon a:before {border-bottom-color: rgba(255,255,255, 0.3)!important;}
		.head_soc .social_bookmarks.bookmark_hexagon a i {background:rgba(255,255,255, 0.3)!important;}
		.head_soc .social_bookmarks.bookmark_hexagon a:after { border-top-color:rgba(255,255,255, 0.3)!important;}
		

		/*BASE Color*/
		.widget_border, .heading_border, #wp-calendar #today, .thn_post_wrap .more-link:hover, .moretag:hover, .search_term #searchsubmit, .error_msg #searchsubmit, #searchsubmit, .complete_pagenav a:hover, .nav-box a:hover .left_arro, .nav-box a:hover .right_arro, .pace .pace-progress, .homeposts_title .menu_border, span.widget_border, .ast_login_widget #loginform #wp-submit, .prog_wrap, .lts_layout1 a.image, .lts_layout2 a.image, .lts_layout3 a.image, .rel_tab:hover .related_img, .wpcf7-submit, .woo-slider #post_slider li.sale .woo_sale, .nivoinner .slide_button_wrap .lts_button, #accordion .slide_button_wrap .lts_button, .img_hover, p.form-submit #submit, .optimposts .type-product a.button.add_to_cart_button{background:#33cf9f;} 
		
		.share_active, .comm_auth a, .logged-in-as a, .citeping a, .lay3 h2 a:hover, .lay4 h2 a:hover, .lay5 .postitle a:hover, .nivo-caption p a, .acord_text p a, .org_comment a, .org_ping a, .contact_submit input:hover, .widget_calendar td a, .ast_biotxt a, .ast_bio .ast_biotxt h3, .lts_layout2 .listing-item h2 a:hover, .lts_layout3 .listing-item h2 a:hover, .lts_layout4 .listing-item h2 a:hover, .lts_layout5 .listing-item h2 a:hover, .rel_tab:hover .rel_hover, .post-password-form input[type~=submit], .bio_head h3, .blog_mo a:hover, .ast_navigation a:hover, .lts_layout4 .blog_mo a:hover{color:#33cf9f;}
		#home_widgets .widget .thn_wgt_tt, #sidebar .widget .thn_wgt_tt, #footer .widget .thn_wgt_tt, .astwt_iframe a, .ast_bio .ast_biotxt h3, .ast_bio .ast_biotxt a, .nav-box a span, .lay2 h2.postitle:hover a{color:#33cf9f;}
		.pace .pace-activity{border-top-color: #33cf9f!important;border-left-color: #33cf9f!important;}
		.pace .pace-progress-inner{box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;
		  -webkit-box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;
		  -moz-box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;}
		
		.fotorama__thumb-border, .ast_navigation a:hover{ border-color:#33cf9f!important;}
		
		
		/*Text Color on BASE COLOR Element*/
		.icon_round a, #wp-calendar #today, .moretag:hover, .search_term #searchsubmit, .error_msg #searchsubmit, .complete_pagenav a:hover, .ast_login_widget #loginform #wp-submit, #searchsubmit, .prog_wrap, .rel_tab .related_img i, .lay1 h2.postitle a, .nivoinner .slide_button_wrap .lts_button, #accordion .slide_button_wrap .lts_button, .lts_layout1 .icon_wrap a, .lts_layout2 .icon_wrap a, .lts_layout3 .icon_wrap a, .lts_layout1 .icon_wrap a:hover{color:#ffffff;}
		.thn_post_wrap .listing-item .moretag:hover, body .lts_layout1 .listing-item .title, .lts_layout2 .img_wrap .complete_plus, .img_hover .icon_wrap a, body .thn_post_wrap .lts_layout1 .icon_wrap a, .wpcf7-submit, .woo-slider #post_slider li.sale .woo_sale, p.form-submit #submit, .optimposts .type-product a.button.add_to_cart_button{color:#ffffff;}




/*Sidebar Widget Background Color */
#sidebar .widget{ background:#FFFFFF;}
#sidebar .widget_wrap{border-color:#eeeff5;}
/*Widget Title Color */
#sidebar .widget-title, #sidebar .widget-title a{color:#666666;}

#sidebar #sidebar .widget, #sidebar .widget .widget_wrap{ color:#999999;}
#sidebar .widget .widgettitle, #sidebar .widget .widgettitle a:link, #sidebar .widget .widgettitle a:visited{font-size:16px;}

#sidebar .widget li a, #sidebar .widget a{ color:#33cf9f;}
#sidebar .widget li a:hover, #sidebar .widget a:hover{ color:#999999;}


.flipcard .front{background-color:#ffffff; border-color:#e0e0e0;}

.flipcard .back{background-color:#f7f7f7; border-color:#000000;}

.divider5 span, .divider6 span{background-color:#8c8b8b;}
.divider1, .divider2, .divider3, .divider4, .divider5, .divider6, .fusion-title .title-sep, .fusion-title.sep-underline, .product .product-border, .fusion-title .title-sep{border-color:#8c8b8b;}

.timeline-both-side li .timeline-description{background-color:#ffffff;}

.timeline-both-side:before, .timeline-both-side li .border-line, .timeline-both-side li .border-line:before{background-color:#dedede;}

.timeline-both-side:after, .timeline-both-side li .timeline-description{border-color:#dedede;}
.griditem{background-color:#ffffff;}
.griditem{border-color:#cccccc;}

.serviceboxbg{background:rgba(51,207,159, 0.8); border-right-color:#30a0fd;}
.serviceboxbg:hover{background-color:#685031;}
.servicebox h3, .serviceboxbg p{color:#ffffff !important;}
.sktgo, .sktgo:hover{background-color:#ffffff;}

#footer .footercols1 h3, #footer .footercols2 h3, #footer .footercols3 h3, #footer .footercols4 h3{color:#ffffff;}

#footer .footercols1 h3::after,
#footer .footercols2 h3::after,
#footer .footercols3 h3::after,
#footer .footercols4 h3::after{background-color: #33cf9f;}

.footer-infobox .center{border-color: #919090;}

.footmenu li a,
.footer-blog-posts ul li a{color: #919090;}

.footmenu li a:hover,
.footer-blog-posts ul li a:hover,
.footmenu li.current-menu-item a,
.footmenu li.current_page_item a{color: #33cf9f;}

/*FOOTER WIDGET COLORS*/
#footer{background-color: #000000; background-image: url();}
#footer .footercols1, #footer .footercols2, #footer .footercols3, #footer .footercols4, .footer-post-area ul li h4, .footer-post-area ul li h4 a:link, .footer-post-area ul li h4 a:visited{color:#919090;}


/*COPYRIGHT COLORS*/
#copyright{background-color: #0c0c0c;}
.copytext, .copytext a:link, .copytext a:visited{color: #919090;}

.foot_soc .social_bookmarks a:link, .foot_soc .social_bookmarks a:visited{color:#919090;}
.foot_soc .social_bookmarks.bookmark_hexagon a:before {border-bottom-color: rgba(145,144,144, 0.3);}
.foot_soc .social_bookmarks.bookmark_hexagon a i {background:rgba(145,144,144, 0.3);}
.foot_soc .social_bookmarks.bookmark_hexagon a:after { border-top-color:rgba(145,144,144, 0.3);}



/*-------------------------------------TYPOGRAPHY--------------------------------------*/

/*Post Titles and headings Font*/
.postitle, .product_title{ font-family:Assistant;}

/*Menu Font*/
#topmenu ul li a{ font-family:Assistant;}



#topmenu ul li a{font-size:15px;}
#topmenu ul li {line-height: 15px;}

/*Body Text Color*/
body, .home_cat a, .contact_submit input, .comment-form-comment textarea{ color:#2b2b2b;}
.single_post_content .tabs li a{ color:#2b2b2b;}
.thn_post_wrap .listing-item .moretag{ color:#2b2b2b;}
	
	

/*Post Title */
.postitle, .postitle a, .nav-box a, h3#comments, h3#comments_ping, .comment-reply-title, .related_h3, .nocomments, .lts_layout2 .listing-item h2 a, .lts_layout3 .listing-item h2 a, .lts_layout4 .listing-item h2 a, .author_inner h5, .product_title, .woocommerce-tabs h2, .related.products h2, .optimposts .type-product h2.postitle a, .woocommerce ul.products li.product h3{ text-decoration:none; color:#666666;}

/*Woocommerce*/
.optimposts .type-product a.button.add_to_cart_button:hover{background-color:#ffffff;color:#33cf9f;} 
.optimposts .lay2_wrap .type-product span.price, .optimposts .lay3_wrap .type-product span.price, .optimposts .lay4_wrap  .type-product span.price, .optimposts .lay4_wrap  .type-product a.button.add_to_cart_button{color:#666666;}
.optimposts .lay2_wrap .type-product a.button.add_to_cart_button:before, .optimposts .lay3_wrap .type-product a.button.add_to_cart_button:before{color:#666666;}
.optimposts .lay2_wrap .type-product a.button.add_to_cart_button:hover:before, .optimposts .lay3_wrap .type-product a.button.add_to_cart_button:hover:before, .optimposts .lay4_wrap  .type-product h2.postitle a{color:#33cf9f;}



@media screen and (max-width: 480px){
body.home.has_trans_header .header .logo h1 a:link, body.home.has_trans_header .header .logo h1 a:visited{ color:#282828!important;}
body.home.has_trans_header .header #simple-menu{color:#ffffff!important;}
}

/*USER'S CUSTOM CSS---------------------------------------------------------*/
span.desc{display: none;}/*---------------------------------------------------------*/
</style>

<!--[if IE]>
<style type="text/css">
.text_block_wrap, .home .lay1, .home .lay2, .home .lay3, .home .lay4, .home .lay5, .home_testi .looper, #footer .widgets{opacity:1!important;}
#topmenu ul li a{display: block;padding: 20px; background:url(#);}
</style>
<![endif]-->
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style></head>

<body class="home page-template page-template-templates page-template-page-builder page-template-templatespage-builder-php page page-id-7 site_full has_trans_header elementor-default elementor-kit-131 elementor-page elementor-page-7">
<!--HEADER-->
<div class="header_wrap layer_wrapper">
		
<!--HEADER STARTS-->

<div class="header type2">
  <div class="center">
    <div class="head_inner"> 
      <!--LOGO START-->
      <div class="logo">
                <a class="logoimga" title="Junk Removal WordPress Theme" href="https://sktperfectdemo.com/demos/junkremoval/"><img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/logo.jpg" /></a> <span class="desc">Just another WordPress site</span>
              </div>
      <!--LOGO END-->
      
      <div class="header-content-right"> 
        <!--MENU START--> 
        <!--MOBILE MENU START--> 
        <a id="simple-menu" href="#sidr"><i class="fa-bars"></i></a> 
        <!--MOBILE MENU END-->
        
        
        <div id="topmenu" class="">
          <div class="menu-header"><ul id="menu-header" class="menu"><li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-86"><a href="https://sktperfectdemo.com/demos/junkremoval/" aria-current="page">HOME</a></li>
			<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/login">LOGIN</a></li>
			<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="/signup">SIGN UP</a></li>
			</li>
			</ul>
		</div>        
		</div>
        <!--MENU END--> 
      </div>
    </div>
  </div>
</div>
<!--HEADER ENDS--></div><!--layer_wrapper class END-->

<!--Slider START-->
        	<div class="slider-header-layout2">
            <div id="slidera" class="layer_wrapper ">
                                <script>
(function(e) {
    var t = function(t, n) {
        var r = e.extend({}, e.fn.nivoSlider.defaults, n);
        var i = {
            currentSlide: 0,
            currentImage: "",
            totalSlides: 0,
            running: false,
            paused: false,
            stop: true,
            controlNavEl: false
        };
        var s = e(t);
        s.data("nivo:vars", i).addClass("nivoSlider");
        var o = s.children();
        o.each(function() {
            var t = e(this);
            var n = "";
            if (!t.is("img")) {
                if (t.is("a")) {
                    t.addClass("nivo-imageLink");
                    n = t
                }
                t = t.find("img:first")
            }
            var r = r === 0 ? t.attr("width") : t.width(),
                s = s === 0 ? t.attr("height") : t.height();
            if (n !== "") {
                n.css("display", "none")
            }
            t.css("display", "none");
            i.totalSlides++
        });
        if (r.randomStart) {
            r.startSlide = Math.floor(Math.random() * i.totalSlides)
        }
        if (r.startSlide > 0) {
            if (r.startSlide >= i.totalSlides) {
                r.startSlide = i.totalSlides - 1
            }
            i.currentSlide = r.startSlide
        }
        if (e(o[i.currentSlide]).is("img")) {
            i.currentImage = e(o[i.currentSlide])
        } else {
            i.currentImage = e(o[i.currentSlide]).find("img:first")
        }
        if (e(o[i.currentSlide]).is("a")) {
            e(o[i.currentSlide]).css("display", "block")
        }
        var u = e("<img/>").addClass("nivo-main-image");
        u.attr("src", i.currentImage.attr("src")).show();
        s.append(u);
        e(window).resize(function() {
            s.children("img").width(s.width());
            u.attr("src", i.currentImage.attr("src"));
            u.stop().height("auto");
            e(".nivo-slice").remove();
            e(".nivo-box").remove()
        });
        s.append(e('<div class="nivo-caption"></div>'));
        var a = function(t) {
            var n = e(".nivo-caption", s);
            if (i.currentImage.attr("title") != "" && i.currentImage.attr("title") != undefined) {
                var r = i.currentImage.attr("title");
                if (r.substr(0, 1) == "#") r = e(r).html();
                if (n.css("display") == "block") {
                    setTimeout(function() {
                        n.html(r)
                    }, t.animSpeed)
                } else {
                    n.html(r);
                    n.stop().fadeIn(t.animSpeed)
                }
            } else {
                n.stop().fadeOut(t.animSpeed)
            }
        };
        a(r);
        var f = 0;
        if (!r.manualAdvance && o.length > 1) {
            f = setInterval(function() {
                d(s, o, r, false)
            }, r.pauseTime)
        }
        if (r.directionNav) {
            s.append('<div class="nivo-directionNav"><a class="nivo-prevNav">' + r.prevText + '</a><a class="nivo-nextNav">' + r.nextText + "</a></div>");
            e(s).on("click", "a.nivo-prevNav", function() {
                if (i.running) {
                    return false
                }
                clearInterval(f);
                f = "";
                i.currentSlide -= 2;
                d(s, o, r, "prev")
            });
            e(s).on("click", "a.nivo-nextNav", function() {
                if (i.running) {
                    return false
                }
                clearInterval(f);
                f = "";
                d(s, o, r, "next")
            })
        }
        if (r.controlNav) {
            i.controlNavEl = e('<div class="nivo-controlNav"></div>');
            s.after(i.controlNavEl);
            for (var l = 0; l < o.length; l++) {
                if (r.controlNavThumbs) {
                    i.controlNavEl.addClass("nivo-thumbs-enabled");
                    var c = o.eq(l);
                    if (!c.is("img")) {
                        c = c.find("img:first")
                    }
                    if (c.attr("data-thumb")) i.controlNavEl.append('<a class="nivo-control" rel="' + l + '"><img src="' + c.attr("data-thumb") + '" alt="" /></a>')
                } else {
                    i.controlNavEl.append('<a class="nivo-control" rel="' + l + '">' + (l + 1) + "</a>")
                }
            }
            e("a:eq(" + i.currentSlide + ")", i.controlNavEl).addClass("active");
            e("a", i.controlNavEl).bind("click", function() {
                if (i.running) return false;
                if (e(this).hasClass("active")) return false;
                clearInterval(f);
                f = "";
                u.attr("src", i.currentImage.attr("src"));
                i.currentSlide = e(this).attr("rel") - 1;
                d(s, o, r, "control")
            })
        }
        if (r.pauseOnHover) {
            s.hover(function() {
                i.paused = true;
                clearInterval(f);
                f = ""
            }, function() {
                i.paused = false;
                if (f === "" && !r.manualAdvance) {
                    f = setInterval(function() {
                        d(s, o, r, false)
                    }, r.pauseTime)
                }
            })
        }
        s.bind("nivo:animFinished", function() {
            u.attr("src", i.currentImage.attr("src"));
            i.running = false;
            e(o).each(function() {
                if (e(this).is("a")) {
                    e(this).css("display", "none")
                }
            });
            if (e(o[i.currentSlide]).is("a")) {
                e(o[i.currentSlide]).css("display", "block")
            }
            if (f === "" && !i.paused && !r.manualAdvance) {
                f = setInterval(function() {
                    d(s, o, r, false)
                }, r.pauseTime)
            }
            r.afterChange.call(this)
        });
        var h = function(t, n, r) {
            if (e(r.currentImage).parent().is("a")) e(r.currentImage).parent().css("display", "block");
            e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").width(t.width()).css("visibility", "hidden").show();
            var i = e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").parent().is("a") ? e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").parent().height() : e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").height();
            for (var s = 0; s < n.slices; s++) {
                var o = Math.round(t.width() / n.slices);
                if (s === n.slices - 1) {
                    t.append(e('<div class="nivo-slice" name="' + s + '"><img src="' + r.currentImage.attr("src") + '" style="position:absolute; width:' + t.width() + "px; height:auto; display:block !important; top:0; left:-" + (o + s * o - o) + 'px;" /></div>').css({
                        left: o * s + "px",
                        width: t.width() - o * s + "px",
                        height: i + "px",
                        opacity: "0",
                        overflow: "hidden"
                    }))
                } else {
                    t.append(e('<div class="nivo-slice" name="' + s + '"><img src="' + r.currentImage.attr("src") + '" style="position:absolute; width:' + t.width() + "px; height:auto; display:block !important; top:0; left:-" + (o + s * o - o) + 'px;" /></div>').css({
                        left: o * s + "px",
                        width: o + "px",
                        height: i + "px",
                        opacity: "0",
                        overflow: "hidden"
                    }))
                }
            }
            e(".nivo-slice", t).height(i);
            u.stop().animate({
                height: e(r.currentImage).height()
            }, n.animSpeed)
        };
        var p = function(t, n, r) {
            if (e(r.currentImage).parent().is("a")) e(r.currentImage).parent().css("display", "block");
            e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").width(t.width()).css("visibility", "hidden").show();
            var i = Math.round(t.width() / n.boxCols),
                s = Math.round(e('img[src="' + r.currentImage.attr("src") + '"]', t).not(".nivo-main-image,.nivo-control img").height() / n.boxRows);
            for (var o = 0; o < n.boxRows; o++) {
                for (var a = 0; a < n.boxCols; a++) {
                    if (a === n.boxCols - 1) {
                        t.append(e('<div class="nivo-box" name="' + a + '" rel="' + o + '"><img src="' + r.currentImage.attr("src") + '" style="position:absolute; width:' + t.width() + "px; height:auto; display:block; top:-" + s * o + "px; left:-" + i * a + 'px;" /></div>').css({
                            opacity: 0,
                            left: i * a + "px",
                            top: s * o + "px",
                            width: t.width() - i * a + "px"
                        }));
                        e('.nivo-box[name="' + a + '"]', t).height(e('.nivo-box[name="' + a + '"] img', t).height() + "px")
                    } else {
                        t.append(e('<div class="nivo-box" name="' + a + '" rel="' + o + '"><img src="' + r.currentImage.attr("src") + '" style="position:absolute; width:' + t.width() + "px; height:auto; display:block; top:-" + s * o + "px; left:-" + i * a + 'px;" /></div>').css({
                            opacity: 0,
                            left: i * a + "px",
                            top: s * o + "px",
                            width: i + "px"
                        }));
                        e('.nivo-box[name="' + a + '"]', t).height(e('.nivo-box[name="' + a + '"] img', t).height() + "px")
                    }
                }
            }
            u.stop().animate({
                height: e(r.currentImage).height()
            }, n.animSpeed)
        };
        var d = function(t, n, r, i) {
            var s = t.data("nivo:vars");
            if (s && s.currentSlide === s.totalSlides - 1) {
                r.lastSlide.call(this)
            }
            if ((!s || s.stop) && !i) {
                return false
            }
            r.beforeChange.call(this);
            if (!i) {
                u.attr("src", s.currentImage.attr("src"))
            } else {
                if (i === "prev") {
                    u.attr("src", s.currentImage.attr("src"))
                }
                if (i === "next") {
                    u.attr("src", s.currentImage.attr("src"))
                }
            }
            s.currentSlide++;
            if (s.currentSlide === s.totalSlides) {
                s.currentSlide = 0;
                r.slideshowEnd.call(this)
            }
            if (s.currentSlide < 0) {
                s.currentSlide = s.totalSlides - 1
            }
            if (e(n[s.currentSlide]).is("img")) {
                s.currentImage = e(n[s.currentSlide])
            } else {
                s.currentImage = e(n[s.currentSlide]).find("img:first")
            }
            if (r.controlNav) {
                e("a", s.controlNavEl).removeClass("active");
                e("a:eq(" + s.currentSlide + ")", s.controlNavEl).addClass("active")
            }
            a(r);
            e(".nivo-slice", t).remove();
            e(".nivo-box", t).remove();
            var o = r.effect,
                f = "";
            if (r.effect === "random") {
                f = new Array("sliceDownRight", "sliceDownLeft", "sliceUpRight", "sliceUpLeft", "sliceUpDown", "sliceUpDownLeft", "fold", "fade", "boxRandom", "boxRain", "boxRainReverse", "boxRainGrow", "boxRainGrowReverse");
                o = f[Math.floor(Math.random() * (f.length + 1))];
                if (o === undefined) {
                    o = "fade"
                }
            }
            if (r.effect.indexOf(",") !== -1) {
                f = r.effect.split(",");
                o = f[Math.floor(Math.random() * f.length)];
                if (o === undefined) {
                    o = "fade"
                }
            }
            if (s.currentImage.attr("data-transition")) {
                o = s.currentImage.attr("data-transition")
            }
            s.running = true;
            var l = 0,
                c = 0,
                d = "",
                m = "",
                g = "",
                y = "";
            if (o === "sliceDown" || o === "sliceDownRight" || o === "sliceDownLeft") {
                h(t, r, s);
                l = 0;
                c = 0;
                d = e(".nivo-slice", t);
                if (o === "sliceDownLeft") {
                    d = e(".nivo-slice", t)._reverse()
                }
                d.each(function() {
                    var n = e(this);
                    n.css({
                        top: "0px"
                    });
                    if (c === r.slices - 1) {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed, "", function() {
                                t.trigger("nivo:animFinished")
                            })
                        }, 100 + l)
                    } else {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed)
                        }, 100 + l)
                    }
                    l += 50;
                    c++
                })
            } else if (o === "sliceUp" || o === "sliceUpRight" || o === "sliceUpLeft") {
                h(t, r, s);
                l = 0;
                c = 0;
                d = e(".nivo-slice", t);
                if (o === "sliceUpLeft") {
                    d = e(".nivo-slice", t)._reverse()
                }
                d.each(function() {
                    var n = e(this);
                    n.css({
                        bottom: "0px"
                    });
                    if (c === r.slices - 1) {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed, "", function() {
                                t.trigger("nivo:animFinished")
                            })
                        }, 100 + l)
                    } else {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed)
                        }, 100 + l)
                    }
                    l += 50;
                    c++
                })
            } else if (o === "sliceUpDown" || o === "sliceUpDownRight" || o === "sliceUpDownLeft") {
                h(t, r, s);
                l = 0;
                c = 0;
                var b = 0;
                d = e(".nivo-slice", t);
                if (o === "sliceUpDownLeft") {
                    d = e(".nivo-slice", t)._reverse()
                }
                d.each(function() {
                    var n = e(this);
                    if (c === 0) {
                        n.css("top", "0px");
                        c++
                    } else {
                        n.css("bottom", "0px");
                        c = 0
                    }
                    if (b === r.slices - 1) {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed, "", function() {
                                t.trigger("nivo:animFinished")
                            })
                        }, 100 + l)
                    } else {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1.0"
                            }, r.animSpeed)
                        }, 100 + l)
                    }
                    l += 50;
                    b++
                })
            } else if (o === "fold") {
                h(t, r, s);
                l = 0;
                c = 0;
                e(".nivo-slice", t).each(function() {
                    var n = e(this);
                    var i = n.width();
                    n.css({
                        top: "0px",
                        width: "0px"
                    });
                    if (c === r.slices - 1) {
                        setTimeout(function() {
                            n.animate({
                                width: i,
                                opacity: "1.0"
                            }, r.animSpeed, "", function() {
                                t.trigger("nivo:animFinished")
                            })
                        }, 100 + l)
                    } else {
                        setTimeout(function() {
                            n.animate({
                                width: i,
                                opacity: "1.0"
                            }, r.animSpeed)
                        }, 100 + l)
                    }
                    l += 50;
                    c++
                })
            } else if (o === "fade") {
                h(t, r, s);
                m = e(".nivo-slice:first", t);
                m.css({
                    width: t.width() + "px"
                });
                m.animate({
                    opacity: "1.0"
                }, r.animSpeed * 2, "", function() {
                    t.trigger("nivo:animFinished")
                })
            } else if (o === "slideInRight") {
                h(t, r, s);
                m = e(".nivo-slice:first", t);
                m.css({
                    width: "0px",
                    opacity: "1"
                });
                m.animate({
                    width: t.width() + "px"
                }, r.animSpeed * 2, "", function() {
                    t.trigger("nivo:animFinished")
                })
            } else if (o === "slideInLeft") {
                h(t, r, s);
                m = e(".nivo-slice:first", t);
                m.css({
                    width: "0px",
                    opacity: "1",
                    left: "",
                    right: "0px"
                });
                m.animate({
                    width: t.width() + "px"
                }, r.animSpeed * 2, "", function() {
                    m.css({
                        left: "0px",
                        right: ""
                    });
                    t.trigger("nivo:animFinished")
                })
            } else if (o === "boxRandom") {
                p(t, r, s);
                g = r.boxCols * r.boxRows;
                c = 0;
                l = 0;
                y = v(e(".nivo-box", t));
                y.each(function() {
                    var n = e(this);
                    if (c === g - 1) {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1"
                            }, r.animSpeed, "", function() {
                                t.trigger("nivo:animFinished")
                            })
                        }, 100 + l)
                    } else {
                        setTimeout(function() {
                            n.animate({
                                opacity: "1"
                            }, r.animSpeed)
                        }, 100 + l)
                    }
                    l += 20;
                    c++
                })
            } else if (o === "boxRain" || o === "boxRainReverse" || o === "boxRainGrow" || o === "boxRainGrowReverse") {
                p(t, r, s);
                g = r.boxCols * r.boxRows;
                c = 0;
                l = 0;
                var w = 0;
                var E = 0;
                var S = [];
                S[w] = [];
                y = e(".nivo-box", t);
                if (o === "boxRainReverse" || o === "boxRainGrowReverse") {
                    y = e(".nivo-box", t)._reverse()
                }
                y.each(function() {
                    S[w][E] = e(this);
                    E++;
                    if (E === r.boxCols) {
                        w++;
                        E = 0;
                        S[w] = []
                    }
                });
                for (var x = 0; x < r.boxCols * 2; x++) {
                    var T = x;
                    for (var N = 0; N < r.boxRows; N++) {
                        if (T >= 0 && T < r.boxCols) {
                            (function(n, i, s, u, a) {
                                var f = e(S[n][i]);
                                var l = f.width();
                                var c = f.height();
                                if (o === "boxRainGrow" || o === "boxRainGrowReverse") {
                                    f.width(0).height(0)
                                }
                                if (u === a - 1) {
                                    setTimeout(function() {
                                        f.animate({
                                            opacity: "1",
                                            width: l,
                                            height: c
                                        }, r.animSpeed / 1.3, "", function() {
                                            t.trigger("nivo:animFinished")
                                        })
                                    }, 100 + s)
                                } else {
                                    setTimeout(function() {
                                        f.animate({
                                            opacity: "1",
                                            width: l,
                                            height: c
                                        }, r.animSpeed / 1.3)
                                    }, 100 + s)
                                }
                            })(N, T, l, c, g);
                            c++
                        }
                        T--
                    }
                    l += 100
                }
            }
        };
        var v = function(e) {
            for (var t, n, r = e.length; r; t = parseInt(Math.random() * r, 10), n = e[--r], e[r] = e[t], e[t] = n);
            return e
        };
        var m = function(e) {
            if (this.console && typeof console.log !== "undefined") {
                console.log(e)
            }
        };
        this.stop = function() {
            if (!e(t).data("nivo:vars").stop) {
                e(t).data("nivo:vars").stop = true;
                m("Stop Slider")
            }
        };
        this.start = function() {
            if (e(t).data("nivo:vars").stop) {
                e(t).data("nivo:vars").stop = false;
                m("Start Slider")
            }
        };
        r.afterLoad.call(this);
        return this
    };
    e.fn.nivoSlider = function(n) {
        return this.each(function(r, i) {
            var s = e(this);
            if (s.data("nivoslider")) {
                return s.data("nivoslider")
            }
            var o = new t(this, n);
            s.data("nivoslider", o)
        })
    };
    e.fn.nivoSlider.defaults = {
        effect: "fade",
        slices: 15,
        boxCols: 8,
        boxRows: 4,
        animSpeed: 700,
        pauseTime: 4000,
        startSlide: 0,
        directionNav: true,
        controlNav: false,
        controlNavThumbs: false,
        pauseOnHover: true,
        manualAdvance: false,
        prevText: "Prev",
        nextText: "Next",
        randomStart: false,
        beforeChange: function() {},
        afterChange: function() {},
        slideshowEnd: function() {},
        lastSlide: function() {},
        afterLoad: function() {}
    };
    e.fn._reverse = [].reverse
})(jQuery);

jQuery(window).load(function() {
    jQuery("#slider").nivoSlider()
});
</script>
<section id="home_slider">
  <div class="slider-main">
        <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
                <img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider1.jpg" data-thumb="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider1.jpg" alt="Give Us A Call To Get A Quote Today!Junk Removal" title="#htmlcaption1" />
                <img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider2.jpg" data-thumb="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider2.jpg" alt="Give Us A Call To Get A Quote Today!Junk Removal" title="#htmlcaption2" />
                <img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider3.jpg" data-thumb="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/slides/slider3.jpg" alt="Give Us A Call To Get A Quote Today!Junk Removal" title="#htmlcaption3" />
              </div>
            <div id="htmlcaption1" class="nivo-html-caption">
      	<div class="nivo-caption-content">
			            <div class="title">Get Out Garbage</div>
                                    
      </div>
            <div id="htmlcaption2" class="nivo-html-caption">
      	<div class="nivo-caption-content">
			            <div class="title"><small></small>Get Out Garbage</div>
                                    
      </div>
            <div id="htmlcaption3" class="nivo-html-caption">
      	<div class="nivo-caption-content">
			            <div class="title">Get Out Garbage</div>
                                   
      </div>
          </div>
        
  </div>
</section>            </div>
        </div>
       
<!--Slider END--><div class="fixed_site">
  <div class="fixed_wrap fixindex">
	 	 <div style="clear:both"></div>
    <div class="page_fullwidth_wrap layer_wrapper fullwide">
            <div style="clear:both"></div>
                <div class="single_post">
					                        <div class="post-7 page type-page status-publish hentry" id="post-7">  
                        <!--EDIT BUTTON START-->
                                                    <!--EDIT BUTTON END-->
                        <!--PAGE CONTENT START--> 
                        <div class="single_post_content">
                                <!--THE CONTENT START-->
                                    <div class="thn_post_wrap">
                                        		<div data-elementor-type="wp-page" data-elementor-id="7" class="elementor elementor-7" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-78e97e8c animated-slow elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="78e97e8c" data-element_type="section" id="about-section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7a462ea7" data-id="7a462ea7" data-element_type="column" id="about-outer">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-398c510f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="398c510f" data-element_type="section" id="about-col" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3a4d627a animated-slow elementor-invisible" data-id="3a4d627a" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-26096f12 elementor-widget elementor-widget-heading" data-id="26096f12" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Let's preserve our</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-3203e5ba elementor-widget elementor-widget-heading" data-id="3203e5ba" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">world together!</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1ee962e2 elementor-widget elementor-widget-text-editor" data-id="1ee962e2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>An Interface between Customers and Garbage Collectors.</p></div>
				</div>
				</div>
				
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6dfe5e8e" data-id="6dfe5e8e" data-element_type="column" id="about-4cols">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-17ad209 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="17ad209" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-228cff9c" data-id="228cff9c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-393c0370 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="393c0370" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="70" height="70" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/about-icon1.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Trash Remover</h3><p class="elementor-image-box-description">We do trash removal in timely</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1a213489" data-id="1a213489" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5cbb91db elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="5cbb91db" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="70" height="70" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/about-icon2.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Junk Remover</h3><p class="elementor-image-box-description">Our junk hauling service</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-31405ce elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="31405ce" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-375d1fa9" data-id="375d1fa9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-169d62cd elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="169d62cd" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="70" height="70" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/about-icon3.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Waste Pickup</h3><p class="elementor-image-box-description">Scheduled Waste Pickup</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e411ce7" data-id="e411ce7" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2809815 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2809815" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="70" height="70" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/about-icon4.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Recycling Services</h3><p class="elementor-image-box-description">Food Waste Pickup</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5c6fb1e5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c6fb1e5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6bb6fc07 animated-slow elementor-invisible" data-id="6bb6fc07" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-4b426a15 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4b426a15" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-55baad57" data-id="55baad57" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1ac2a941 elementor-widget elementor-widget-image" data-id="1ac2a941" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="345" height="602" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img.png 345w, https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img-172x300.png 172w" sizes="(max-width: 345px) 100vw, 345px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5dcf7a17 animated-slow elementor-invisible" data-id="5dcf7a17" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3c4416a elementor-widget elementor-widget-heading" data-id="3c4416a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our Services</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-38e3c777 elementor-widget elementor-widget-divider" data-id="38e3c777" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-5e560139 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5e560139" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-70a6e77d" data-id="70a6e77d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-18b2d8f2 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="18b2d8f2" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Paper Recycling</h3></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-412e1261" data-id="412e1261" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-31cb7f20 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="31cb7f20" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Garbage Removal</h3></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-5884a40 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5884a40" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2f175b" data-id="2f175b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1875edf4 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="1875edf4" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Electronics recycling</h3></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-114b9659 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="114b9659" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-500e266 animated-slow elementor-invisible" data-id="500e266" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-274a7ee5 elementor-widget elementor-widget-heading" data-id="274a7ee5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Who We Are</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-747aa017 elementor-widget elementor-widget-heading" data-id="747aa017" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">We strive to provide an integrated environmental solution for the betterment of the world</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-309de51e elementor-widget elementor-widget-text-editor" data-id="309de51e" data-element_type="widget" data-widget_type="text-editor.default">
				
				</div>
				
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-26b554b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26b554b8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3482d825" data-id="3482d825" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-3cfa52ab elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3cfa52ab" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5ae24b7d animated-slow elementor-invisible" data-id="5ae24b7d" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5b1b5af9 elementor-widget elementor-widget-image" data-id="5b1b5af9" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="570" height="588" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/leaf-hand.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/leaf-hand.jpg 570w, https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/leaf-hand-291x300.jpg 291w" sizes="(max-width: 570px) 100vw, 570px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-17530eb6 animated-slow elementor-invisible" data-id="17530eb6" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3eb36bb8 elementor-widget elementor-widget-heading" data-id="3eb36bb8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">We Are junk removal Company</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-3ea0f227 elementor-widget elementor-widget-heading" data-id="3ea0f227" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our Mission</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1be2ee9c elementor-widget elementor-widget-text-editor" data-id="1be2ee9c" data-element_type="widget" data-widget_type="text-editor.default">
				
				</div>
				<div class="elementor-element elementor-element-40b26599 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="40b26599" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
					<a href="#">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Give individuals a chance to make a difference
</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
					<a href="#">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Spread awareness</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
					<a href="#">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Environmental and Economic Sustainability</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
					<a href="#">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Improve cleanliness</span>
											</a>
									</li>
						</ul>
				</div>
				</div>
				
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1135716d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1135716d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7729c477" data-id="7729c477" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-1da21be8 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="1da21be8" data-element_type="section" id="customer-col" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2219a37f" data-id="2219a37f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7e953f90 animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="7e953f90" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">24/7 Customer Service</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a579a animated-slow elementor-invisible elementor-widget elementor-widget-text-editor" data-id="a579a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><br />Monday to Friday and 8 a.m. to 9 p.m. Saturday and Sunday</p></div>
				</div>
				</div>
				
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				
				
						</div>
						</div>
					</div>
		                                    </div>
                                        <div style="clear:both"></div>
                                    <div class="thn_post_wrap wp_link_pages">
                                                                            </div>
                                <!--THE CONTENT END-->
                        </div>
                        <!--PAGE CONTENT END-->                       
                  </div>
                   
                  </div><!--single_post class END-->
                 </div><!--layer_wrapper class END-->

		<a class="to_top "><i class="fa-angle-up fa-2x"></i></a>
<!--Footer Start-->
<div class="footer_wrap layer_wrapper ">
<div id="footer" class="footer-type4">
	<div class="left">
    	<div class="footer-info-area"><div class="footer-info-left"><img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/footer-logo.png"></div></div> 
    </div>
	<div class="center">
    	<div class="rowfooter">
            <div class="clear"></div>
    		            <div class="footercols4"><h3>Get In Touch</h3><div class="spacecode" style="height:40px;"></div><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 24px;">Phone:</span>8850068773</p><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 28px;">E-mail:</span>yug.jain@spit.ac.in</a></p><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 17px;">Website:</span></a></p></div>
            <div class="footercols4"><h3>Our Services</h3><div class="menu-services-container"><ul id="menu-services" class="footmenu"><li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42">Paper Recycling</li>
<li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43">Garbage Removal</li>
<li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46">Electronics recycling</li>
</ul></div>            </div>
            <div class="footercols4"><h3>Navigation</h3><div class="menu-footer-container"><ul id="menu-footer" class="footmenu"><li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-103"><a href="https://sktperfectdemo.com/demos/junkremoval/" aria-current="page">Home</a></li>
<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="/login">Login</a></li>
<li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a href="/signup">Sign Up</a></li>
</ul></div></div>
            
                                </div>              
            <div class="clear"></div> 
    </div>
</div>

<!--Footer END-->
</div><!--layer_wrapper class END-->




<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.2.2' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/hoverIntent.min.js?ver=1.8.1' id='hoverIntent-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/comment-reply.min.js?ver=5.5.1' id='comment-reply-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/wp-embed.min.js?ver=5.5.1' id='wp-embed-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.0.9' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4' id='jquery-ui-position-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.0.9' id='share-link-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.0.9","is_static":false,"legacyMode":{"elementWrappers":true},"urls":{"assets":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":7,"title":"Junk%20Removal%20WordPress%20Theme%20%E2%80%93%20Just%20another%20WordPress%20site","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.0.9' id='elementor-frontend-js'></script>
</body>
</html>    
