
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<link rel="profile" href="http://gmpg.org/xfn/11"/>
<link rel="pingback" href="https://sktperfectdemo.com/demos/junkremoval/xmlrpc.php" /> 
<title>Get out Garbage &#8211; Services</title>
<meta name='robots' content='noindex,nofollow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Junk Removal WordPress Theme &raquo; Feed" href="https://sktperfectdemo.com/demos/junkremoval/feed/" />
<link rel="alternate" type="application/rss+xml" title="Junk Removal WordPress Theme &raquo; Comments Feed" href="https://sktperfectdemo.com/demos/junkremoval/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-includes/css/dist/block-library/style.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='complete-style-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/style.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-style-core-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/style_core.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-animated_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/animate.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-static_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/nivo-slider.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-gallery_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/prettyPhoto.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-awesome_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/fonts/font-awesome.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete-owl_css-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/css/owl.carousel.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='complete_google_fonts-css'  href='//fonts.googleapis.com/css?family=Assistant%3A200%2C800%2C700%2C600%2C400%2C300%7COswald%3Aregular%2C700%2C300%26subset%3Dlatin%2C' type='text/css' media='screen' />
<link rel='stylesheet' id='elementor-icons-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-animations-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-legacy-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.0.9' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-131-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/post-131.css?ver=1600421667' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/global.css?ver=1600421667' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-68-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/elementor/css/post-68.css?ver=1600422987' type='text/css' media='all' />
<link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COswald%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CAssistant%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='ns_styles-css'  href='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/themebar/style.css?ver=5.5.1' type='text/css' media='all' />
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/complete.js?ver=1' id='complete_js-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/owl.carousel.js?ver=1' id='complete_owl-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/other.js?ver=1' id='complete_otherjs-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.bxslider.min.js?ver=1' id='complete_testimonialjs-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/index.js?ver=1' id='complete_index-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.quicksand.js?ver=1' id='complete_galjs1-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/script.js?ver=1' id='complete_galjs3-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/counterup.min.js?ver=1' id='complete_count-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/verticalslider.js?ver=1' id='complete_verticalslider-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/assets/js/jquery.prettyPhoto.js?ver=1' id='complete_galjs4-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/themebar/js/jquery.cookie.js?ver=5.5.1' id='ns_cookiescript-js'></script>
<link rel="https://api.w.org/" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/" /><link rel="alternate" type="application/json" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/wp/v2/pages/68" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://sktperfectdemo.com/demos/junkremoval/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://sktperfectdemo.com/demos/junkremoval/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.5.1" />
<link rel="canonical" href="https://sktperfectdemo.com/demos/junkremoval/services/" />
<link rel='shortlink' href='https://sktperfectdemo.com/demos/junkremoval/?p=68' />
<link rel="alternate" type="application/json+oembed" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsktperfectdemo.com%2Fdemos%2Fjunkremoval%2Fservices%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://sktperfectdemo.com/demos/junkremoval/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsktperfectdemo.com%2Fdemos%2Fjunkremoval%2Fservices%2F&#038;format=xml" />
<style type="text/css">

/*Fixed Background*/

	/*BOXED LAYOUT*/
	.site_boxed .layer_wrapper, body.home.site_boxed #slidera {width: 83.5%;float: left;margin: 0 8.25%;
	background: #ffffff;}
	.site_boxed .stat_bg, .site_boxed .stat_bg_overlay{width: 83.5%;}
	.site_boxed .social_buttons{background: #ffffff;}
	.site_boxed .center {width: 95%!important;margin: 0 auto;}
	.site_boxed .head_top .center{ width:95%!important;}



/*Site Content Text Style*/
body, button, input, select, textarea{ 
	font-family:Assistant; 	font-size:17px; }

.footer-post-area ul li h4,
.footer-post-area ul li h4 a{font-family:Assistant;}

.single_post .single_post_content .tabs li a:link, .single_post .single_post_content .tabs li a:visited{ color:#2b2b2b;}

.page_head{ background:#545556; color:#555555;}
.page_head .postitle{color:#555555;}	
.page_head .layerbread a:link, .page_head .layerbread a:visited{color:#555555;}	
.page_head_bg{background:url(https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/default-header-img.jpg);}


/*Feattured Boxes Section*/
.featured_area_bg{background:url();}
.featured_area{background-color:#f2f2f2;}
.featured_block img{height:70px;; width:70px;} 
.featured_block{background-color:#ffffff;}

.sktmore,
.newsletter-form input[type="submit"]{background-color:#33cf9f;}
.sktmore:hover,
.newsletter-form input[type="submit"]:hover{background-color:#393939;}

.left-fit-title h3, .right-fit-title h3, .left-fit-desc, .right-fit-desc{color:#282828;}
.left-fitright, .right-fitleft{background-color:#282828;}


.left-fitbox a:hover h3, .right-fitbox a:hover h3{color:#f3f3f3;}
.left-fitbox a:hover .left-fitright, .right-fitbox a:hover .right-fitleft{background-color:#f3f3f3;}

.right-fitleft, .left-fitright{color:#282828;}
.right-fit-desc, .left-fit-desc{border-bottom-color:#282828;}

.expanding-grid .spacer{background-color:#33cf9f;}
.expand-left h2, .expand-left{color:#000000;}

.headingseperator h3{color:#000000;}
.headingseperator h3::after{border-bottom-color:#33cf9f;}

.expanding-grid .links > li a.active:after{border-bottom-color:#33cf9f;}

.squarebox{background-color:#ffffff;}
.squarebox:hover{background-color:#79ab9f;}
.squaretitle{color:#000000;}

.perfectbox{background-color:#ffffff; border-color:#eaeaea;}
.perfectborder:hover, .perfectbox:hover{border-color:#33cf9f !important;}

.post_block_style3{background-color:#ffffff; border-color:#eaeaea;}
.post_block_style3:before{background:#9f9f9f;}

/*-----------------------------COLORS------------------------------------*/
		/*Header Color*/
		.header{background-color: rgba(12,12,12, 0);}
				
				
		/*Head Top Bar Color*/
		.head-info-area{background-color: rgba(40,40,40, 1);}
		
				.header{background:#0c0c0c!important; border: none;}
				
		
		@media screen and (max-width: 767px){
		.home.has_trans_header .header{background:#0c0c0c!important;}
		}
		/*LOGO*/
		.logo img{height:113px;; width:253px;; margin-top:0px;;} 

				.logo h2, .logo h1, .logo h2 a:link, .logo h2 a:visited, .logo h1 a:link, .logo h1 a:visited, .logo h2 a:hover, .logo h1 a:hover{ 
			font-family:'Assistant';
			font-size:40px;
			color:#282828;
		}
		/*HEADER TEXT BAR*/
				.head-info-area, .head-info-area a:link, .head-info-area a:visited{ 
			font-family:'Assistant'; 			font-size:16px;			color:#ffffff;
		}	
		
		.head-info-area a:hover{ 
			color:#edecec;
		}		
		
		a{color:#33cf9f;}
		a:hover{color:#685031;}
		
		
		/*Slider Title*/
		.home.has_trans_header .nivo-caption:before{background-color: rgba(51,207,159, 0.5);}
		
		
				.title{ 
			font-family:'Oswald'; 			font-size:72px;			color:#ffffff;
		}	
		
				.slidedesc{ 
			font-family:'Assistant'; 			font-size:19px;			color:#ffffff;
		}	
		
				.slidebtn{ 
			font-family:'Assistant'; 			font-size:17px;;
		}
		.slider-main .nivo-caption .slidebtn a{ 
			color:#ffffff; background-color:#282828;
		}	
		.slider-main .nivo-caption .slidebtn a:hover{background-color:#33cf9f; color:#ffffff;}
		
		.nivo-controlNav a{background-color:#000000}
		.nivo-controlNav a.active{background-color:#33cf9f}				
				
		/* Global H1 */	
						h1{ 
			font-family:'Assistant'; 			font-size:32px;			color:#282828;
		}
		
		h1 a:hover{ 
			color:#33cf9f;
		}
		
		/* Global H2 */	
						h2{ 
			font-family:'Assistant'; 			font-size:28px;		color:#282828;
		}
		
		h2 a:hover{ 
			color:#33cf9f;
		}
				
		/* Global H3 */	
						h3{ 
			font-family:'Assistant'; 			font-size:24px;		color:#282828;
		}
		
		h3 a:hover{ 
			color:#33cf9f;
		}
		
		/* Global H4 */	
						h4{ 
			font-family:'Assistant'; 			font-size:13px;		color:#282828;
		}
		
		h4 a:hover{ 
			color:#33cf9f;
		}	
		
		/* Global H5 */	
						h5{ 
			font-family:'Assistant'; 			font-size:11px;		color:#282828;
		}
		
		h5 a:hover{ 
			color:#33cf9f;
		}	
		
		/* Global H6 */	
						h6{ 
			font-family:'Assistant'; 			font-size:9px;		color:#282828;
		}
		
		h6 a:hover{ 
			color:#33cf9f;
		}
		
		/* Post Meta Color */
		.post_block_style1_meta, .post_block_style1_meta a:link, .post_block_style1_meta a:visited, .post_block_style2_meta, .post_block_style2_meta a:link, .post_block_style2_meta a:visited, .single_metainfo, .single_metainfo a:link, .single_metainfo a:visited{ 
			color:#282828;
		}
		
		/* Team Box Background Color */
		.team-infobox{ 
			background-color:#f7f7f7;
		}
		
		/* Social Icon Background Color */
		.social-icons a:link, .social-icons a:visited{ 
			background-color:#151515;
			color:#ffffff;
		}	
		
		/* Social Icon Hover Background Color */
		.social-icons a:hover{ 
			background-color:#33cf9f;
			color:#151515;
			border-color:#33cf9f;
		}
		
		/* Teambox Background Color */
		.testimonial-box{ 
			background-color:#ffffff;
		}	
		.testimonial-box:after{ 
			border-top-color:#ffffff;
		}
		.testimonilacontent, .bxslider li h3, .bxslider li p{color:#000000;}
		
		.testimonilacontent{background-color:#ffffff;}
		.testimonilacontent:after{border-top-color:#ffffff;}
		
		/* Pager Color */
		.skt-testimonials .owl-dots .owl-dot{ 
			background:#000000;
		}	
		
		/* Pager Active Color */
		.skt-testimonials .owl-dots .owl-dot.active{ 
			background:#33cf9f;
		}
		
		/* Gallery Filter Active Bgcolor */
		.portfolio-categ li a:link, .portfolio-categ li a:visited{ 
			color:#909090;
		}		
		
		/* Gallery Filter Active Bgcolor */
		.portfolio-categ li.active a:link, .portfolio-categ li.active a:visited{ 
			color:#f1b500;
		}	
		
			
		
		.portfolio-content .portfolio-area li .image-block-title{background-color: rgba(241,181,0, 0.7); color:#ffffff;}
		
		/* Skills Bar Background Color */
		.skill-bg{ 
			background-color:#f8f8f8;
		}	
		
		/* Skills Bar Text Color */
		.skillbar-title{ 
			color:#ffffff;
		}			
															
		#simple-menu{color:#ffffff;}
		body.home.has_trans_header #simple-menu{color:#fff;}
		span.desc{color:#282828;}
		
		.header-extras li a,
		.header-extras li .header-search-toggle{color:#ffffff;}
		.header-extras li a:hover,
		.header-extras li .header-search-toggle:hover{color: #33cf9f;}
		.header-extras li .custom-cart-count{background-color: #33cf9f;}
		
		/*MENU Text Color*/
		#topmenu ul li a{color:#ffffff;}
		#topmenu ul li.menu_hover a:link, #topmenu ul li.menu_hover a:visited{border-color:#33cf9f;}
		#topmenu ul li.menu_hover>a:link, #topmenu ul li.menu_hover>a:visited, body.has_trans_header.home #topmenu ul li.menu_hover>a:link, body.has_trans_header.home #topmenu ul li.menu_hover>a:visited{color:#33cf9f;}
		#topmenu ul li.current-menu-item>a:link, #topmenu ul li.current-menu-item>a:visited, #topmenu ul li.current-menu-parent>a:link, #topmenu ul li.current_page_parent>a:visited, #topmenu ul li.current-menu-ancestor>a:link, #topmenu ul li.current-menu-ancestor>a:visited{color:#33cf9f;}
		#topmenu ul li ul{border-color:#33cf9f transparent transparent transparent;}
		#topmenu ul.menu>li:hover:after{background-color:#33cf9f;}
		#topmenu ul li ul li a:hover{color:#33cf9f;}
		
		#topmenu ul li.appointment-btn a{background-color: #33cf9f; color: #fff !important;}
		#topmenu ul li.appointment-btn a:hover{background-color: #ffffff; color: #fff !important;}
		
#topmenu ul li.current-menu-item > a:link:after, #topmenu ul li.current-menu-item > a:visited:after, #topmenu ul li.current-menu-parent > a:link:after, #topmenu ul li.current_page_parent > a:visited:after, #topmenu ul li.current-menu-ancestor > a:link:after, #topmenu ul li.current-menu-ancestor > a:visited:after{content:''; border-bottom-color:#33cf9f !important;}		
		
		#topmenu ul.menu ul li{background-color:#ffffff;}		
		
		#topmenu ul.sub-menu li a, #topmenu ul.children li a{color:#282828;}	
		#topmenu ul.sub-menu li a:hover, #topmenu ul.children li a:hover, #topmenu li.menu_highlight_slim:hover, #topmenu ul.sub-menu li.current_page_item a, #topmenu ul.children li.current_page_item a, #topmenu ul.sub-menu li.current-menu-item a, #topmenu ul.children li.current-menu-item a{background-color:#282828 !important;}	

		.sidr{ background-color:#282828;}
		.pad_menutitle{ background-color:#33cf9f;}
		.sidr ul li a, .sidr ul li span, .sidr ul li ul li a, .sidr ul li ul li span{color:#ffffff;}
		.sidr ul li.sidr-class-current-menu-item > a{color:#33cf9f;}
		
		#simple-menu .fa-bars{color:#33cf9f !important;}
		.pad_menutitle .fa-bars, .pad_menutitle .fa-times{color:#ffffff !important;}				

		.head_soc .social_bookmarks a:link, .head_soc .social_bookmarks a:visited{color:#ffffff;}
		.head_soc .social_bookmarks.bookmark_hexagon a:before {border-bottom-color: rgba(255,255,255, 0.3)!important;}
		.head_soc .social_bookmarks.bookmark_hexagon a i {background:rgba(255,255,255, 0.3)!important;}
		.head_soc .social_bookmarks.bookmark_hexagon a:after { border-top-color:rgba(255,255,255, 0.3)!important;}
		

		/*BASE Color*/
		.widget_border, .heading_border, #wp-calendar #today, .thn_post_wrap .more-link:hover, .moretag:hover, .search_term #searchsubmit, .error_msg #searchsubmit, #searchsubmit, .complete_pagenav a:hover, .nav-box a:hover .left_arro, .nav-box a:hover .right_arro, .pace .pace-progress, .homeposts_title .menu_border, span.widget_border, .ast_login_widget #loginform #wp-submit, .prog_wrap, .lts_layout1 a.image, .lts_layout2 a.image, .lts_layout3 a.image, .rel_tab:hover .related_img, .wpcf7-submit, .woo-slider #post_slider li.sale .woo_sale, .nivoinner .slide_button_wrap .lts_button, #accordion .slide_button_wrap .lts_button, .img_hover, p.form-submit #submit, .optimposts .type-product a.button.add_to_cart_button{background:#33cf9f;} 
		
		.share_active, .comm_auth a, .logged-in-as a, .citeping a, .lay3 h2 a:hover, .lay4 h2 a:hover, .lay5 .postitle a:hover, .nivo-caption p a, .acord_text p a, .org_comment a, .org_ping a, .contact_submit input:hover, .widget_calendar td a, .ast_biotxt a, .ast_bio .ast_biotxt h3, .lts_layout2 .listing-item h2 a:hover, .lts_layout3 .listing-item h2 a:hover, .lts_layout4 .listing-item h2 a:hover, .lts_layout5 .listing-item h2 a:hover, .rel_tab:hover .rel_hover, .post-password-form input[type~=submit], .bio_head h3, .blog_mo a:hover, .ast_navigation a:hover, .lts_layout4 .blog_mo a:hover{color:#33cf9f;}
		#home_widgets .widget .thn_wgt_tt, #sidebar .widget .thn_wgt_tt, #footer .widget .thn_wgt_tt, .astwt_iframe a, .ast_bio .ast_biotxt h3, .ast_bio .ast_biotxt a, .nav-box a span, .lay2 h2.postitle:hover a{color:#33cf9f;}
		.pace .pace-activity{border-top-color: #33cf9f!important;border-left-color: #33cf9f!important;}
		.pace .pace-progress-inner{box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;
		  -webkit-box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;
		  -moz-box-shadow: 0 0 10px #33cf9f, 0 0 5px #33cf9f;}
		
		.fotorama__thumb-border, .ast_navigation a:hover{ border-color:#33cf9f!important;}
		
		
		/*Text Color on BASE COLOR Element*/
		.icon_round a, #wp-calendar #today, .moretag:hover, .search_term #searchsubmit, .error_msg #searchsubmit, .complete_pagenav a:hover, .ast_login_widget #loginform #wp-submit, #searchsubmit, .prog_wrap, .rel_tab .related_img i, .lay1 h2.postitle a, .nivoinner .slide_button_wrap .lts_button, #accordion .slide_button_wrap .lts_button, .lts_layout1 .icon_wrap a, .lts_layout2 .icon_wrap a, .lts_layout3 .icon_wrap a, .lts_layout1 .icon_wrap a:hover{color:#ffffff;}
		.thn_post_wrap .listing-item .moretag:hover, body .lts_layout1 .listing-item .title, .lts_layout2 .img_wrap .complete_plus, .img_hover .icon_wrap a, body .thn_post_wrap .lts_layout1 .icon_wrap a, .wpcf7-submit, .woo-slider #post_slider li.sale .woo_sale, p.form-submit #submit, .optimposts .type-product a.button.add_to_cart_button{color:#ffffff;}




/*Sidebar Widget Background Color */
#sidebar .widget{ background:#FFFFFF;}
#sidebar .widget_wrap{border-color:#eeeff5;}
/*Widget Title Color */
#sidebar .widget-title, #sidebar .widget-title a{color:#666666;}

#sidebar #sidebar .widget, #sidebar .widget .widget_wrap{ color:#999999;}
#sidebar .widget .widgettitle, #sidebar .widget .widgettitle a:link, #sidebar .widget .widgettitle a:visited{font-size:16px;}

#sidebar .widget li a, #sidebar .widget a{ color:#33cf9f;}
#sidebar .widget li a:hover, #sidebar .widget a:hover{ color:#999999;}


.flipcard .front{background-color:#ffffff; border-color:#e0e0e0;}

.flipcard .back{background-color:#f7f7f7; border-color:#000000;}

.divider5 span, .divider6 span{background-color:#8c8b8b;}
.divider1, .divider2, .divider3, .divider4, .divider5, .divider6, .fusion-title .title-sep, .fusion-title.sep-underline, .product .product-border, .fusion-title .title-sep{border-color:#8c8b8b;}

.timeline-both-side li .timeline-description{background-color:#ffffff;}

.timeline-both-side:before, .timeline-both-side li .border-line, .timeline-both-side li .border-line:before{background-color:#dedede;}

.timeline-both-side:after, .timeline-both-side li .timeline-description{border-color:#dedede;}
.griditem{background-color:#ffffff;}
.griditem{border-color:#cccccc;}

.serviceboxbg{background:rgba(51,207,159, 0.8); border-right-color:#30a0fd;}
.serviceboxbg:hover{background-color:#685031;}
.servicebox h3, .serviceboxbg p{color:#ffffff !important;}
.sktgo, .sktgo:hover{background-color:#ffffff;}

#footer .footercols1 h3, #footer .footercols2 h3, #footer .footercols3 h3, #footer .footercols4 h3{color:#ffffff;}

#footer .footercols1 h3::after,
#footer .footercols2 h3::after,
#footer .footercols3 h3::after,
#footer .footercols4 h3::after{background-color: #33cf9f;}

.footer-infobox .center{border-color: #919090;}

.footmenu li a,
.footer-blog-posts ul li a{color: #919090;}

.footmenu li a:hover,
.footer-blog-posts ul li a:hover,
.footmenu li.current-menu-item a,
.footmenu li.current_page_item a{color: #33cf9f;}

/*FOOTER WIDGET COLORS*/
#footer{background-color: #000000; background-image: url();}
#footer .footercols1, #footer .footercols2, #footer .footercols3, #footer .footercols4, .footer-post-area ul li h4, .footer-post-area ul li h4 a:link, .footer-post-area ul li h4 a:visited{color:#919090;}


/*COPYRIGHT COLORS*/
#copyright{background-color: #0c0c0c;}
.copytext, .copytext a:link, .copytext a:visited{color: #919090;}

.foot_soc .social_bookmarks a:link, .foot_soc .social_bookmarks a:visited{color:#919090;}
.foot_soc .social_bookmarks.bookmark_hexagon a:before {border-bottom-color: rgba(145,144,144, 0.3);}
.foot_soc .social_bookmarks.bookmark_hexagon a i {background:rgba(145,144,144, 0.3);}
.foot_soc .social_bookmarks.bookmark_hexagon a:after { border-top-color:rgba(145,144,144, 0.3);}



/*-------------------------------------TYPOGRAPHY--------------------------------------*/

/*Post Titles and headings Font*/
.postitle, .product_title{ font-family:Assistant;}

/*Menu Font*/
#topmenu ul li a{ font-family:Assistant;}



#topmenu ul li a{font-size:15px;}
#topmenu ul li {line-height: 15px;}

/*Body Text Color*/
body, .home_cat a, .contact_submit input, .comment-form-comment textarea{ color:#2b2b2b;}
.single_post_content .tabs li a{ color:#2b2b2b;}
.thn_post_wrap .listing-item .moretag{ color:#2b2b2b;}
	
	

/*Post Title */
.postitle, .postitle a, .nav-box a, h3#comments, h3#comments_ping, .comment-reply-title, .related_h3, .nocomments, .lts_layout2 .listing-item h2 a, .lts_layout3 .listing-item h2 a, .lts_layout4 .listing-item h2 a, .author_inner h5, .product_title, .woocommerce-tabs h2, .related.products h2, .optimposts .type-product h2.postitle a, .woocommerce ul.products li.product h3{ text-decoration:none; color:#666666;}

/*Woocommerce*/
.optimposts .type-product a.button.add_to_cart_button:hover{background-color:#ffffff;color:#33cf9f;} 
.optimposts .lay2_wrap .type-product span.price, .optimposts .lay3_wrap .type-product span.price, .optimposts .lay4_wrap  .type-product span.price, .optimposts .lay4_wrap  .type-product a.button.add_to_cart_button{color:#666666;}
.optimposts .lay2_wrap .type-product a.button.add_to_cart_button:before, .optimposts .lay3_wrap .type-product a.button.add_to_cart_button:before{color:#666666;}
.optimposts .lay2_wrap .type-product a.button.add_to_cart_button:hover:before, .optimposts .lay3_wrap .type-product a.button.add_to_cart_button:hover:before, .optimposts .lay4_wrap  .type-product h2.postitle a{color:#33cf9f;}



@media screen and (max-width: 480px){
body.home.has_trans_header .header .logo h1 a:link, body.home.has_trans_header .header .logo h1 a:visited{ color:#282828!important;}
body.home.has_trans_header .header #simple-menu{color:#ffffff!important;}
}

/*USER'S CUSTOM CSS---------------------------------------------------------*/
span.desc{display: none;}/*---------------------------------------------------------*/
</style>

<!--[if IE]>
<style type="text/css">
.text_block_wrap, .home .lay1, .home .lay2, .home .lay3, .home .lay4, .home .lay5, .home_testi .looper, #footer .widgets{opacity:1!important;}
#topmenu ul li a{display: block;padding: 20px; background:url(#);}
</style>
<![endif]-->
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style></head>

<body class="page-template page-template-templates page-template-page-builder page-template-templatespage-builder-php page page-id-68 site_full has_trans_header not_frontpage elementor-default elementor-kit-131 elementor-page elementor-page-68">
<!--HEADER-->
<div class="header_wrap layer_wrapper">
		
<!--HEADER STARTS-->

<div class="header type2">
  <div class="center">
    <div class="head_inner"> 
      <!--LOGO START-->
      <div class="logo">
                <a class="logoimga" title="Junk Removal WordPress Theme" href=""><img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/logo.jpg" /></a> <span class="desc">Just another WordPress site</span>
              </div>
      <!--LOGO END-->
      
      <div class="header-content-right"> 
        <!--MENU START--> 
        <!--MOBILE MENU START--> 
        <a id="simple-menu" href="#sidr"><i class="fa-bars"></i></a> 
        <!--MOBILE MENU END-->
        
    
        <div id="topmenu" class="">
          <div class="menu-header"><ul id="menu-header" class="menu"><li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-86"><a href="/">Home</a></li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/pricing">Pricing</a></li>
<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-68 current_page_item menu-item-88"><a href="/services" aria-current="page">Services</a></li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/pickup">Pick Up</a></li>
			  <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/pricing">Contact Us</a></li>
			  <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/track">Track Us</a></li>

</ul></div>        </div>
        <!--MENU END--> 
      </div>
    </div>
  </div>
</div>
<!--HEADER ENDS--></div><!--layer_wrapper class END-->

<!--Slider START-->
     
<!--Slider END--><div style="clear:both"></div>
    <div class="page_fullwidth_wrap layer_wrapper fullwide">
            <!--CUSTOM PAGE HEADER STARTS-->
				

      	<!--Header for PAGE & POST-->
    <div class="">
	      <div class="page_head page_head_bg"></div>
		

	</div>
      <!--page_head class END-->
    
   
      	  
      
      
        <!--CUSTOM PAGE HEADER ENDS-->
                <div style="clear:both"></div>
                <div class="single_post">
					                        <div class="post-68 page type-page status-publish hentry" id="post-68">  
                        <!--EDIT BUTTON START-->
                                                    <!--EDIT BUTTON END-->
                        <!--PAGE CONTENT START--> 
                        <div class="single_post_content">
                                <!--THE CONTENT START-->
                                    <div class="thn_post_wrap">
                                        		<div data-elementor-type="wp-page" data-elementor-id="68" class="elementor elementor-68" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3ecc08b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3ecc08b5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3c7b7321 animated-slow elementor-invisible" data-id="3c7b7321" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-63298d90 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="63298d90" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6c06a11f" data-id="6c06a11f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2849679d elementor-widget elementor-widget-image" data-id="2849679d" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="345" height="602" src="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img.png 345w, https://sktperfectdemo.com/demos/junkremoval/wp-content/uploads/2019/10/service-img-172x300.png 172w" sizes="(max-width: 345px) 100vw, 345px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3072b7c2 animated-slow elementor-invisible" data-id="3072b7c2" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-20d13b92 elementor-widget elementor-widget-heading" data-id="20d13b92" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Types of Segregation</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-6cac8113 elementor-widget elementor-widget-divider" data-id="6cac8113" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-2b4a6451 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b4a6451" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-49a63a2f" data-id="49a63a2f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2ed6b5c7 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2ed6b5c7" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Dry Waste</h3><p>
				Non-biodegradable waste includes- paper,plastic,glass,metal,thermocole,cloth and wood
				</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-723ca6a8" data-id="723ca6a8" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4a838a2e elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="4a838a2e" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Wet Waste</h3><p>
				Biodegradable waste includes cooked and uncooked food, fruit, vegetable peels,flower waste and other organic decomposable waste 
				</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-7e0bf79c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7e0bf79c" data-element_type="section">
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a32fdde" data-id="a32fdde" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c596b0c elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="6c596b0c" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Electronic Waste</h3><p>
				Irons, Toasters, Hair dryers, Moblie phone, Laptop
				</p></div></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
							
		</section>
						</div>
						</div>
					</div>
		                                    </div>
                                        <div style="clear:both"></div>
                                    <div class="thn_post_wrap wp_link_pages">
                                                                            </div>
                                <!--THE CONTENT END-->
                        </div>
                        <!--PAGE CONTENT END-->                       
                  </div>
                   
                  </div><!--single_post class END-->
                 </div><!--layer_wrapper class END-->

		<a class="to_top "><i class="fa-angle-up fa-2x"></i></a>
<!--Footer Start-->
<div class="footer_wrap layer_wrapper ">
<div id="footer" class="footer-type4">
	<div class="left">
    	<div class="footer-info-area"><div class="footer-info-left"><img src="https://sktperfectdemo.com/demos/junkremoval/wp-content/themes/junk-removal/images/footer-logo.png"></div></div> 
    </div>
	<div class="center">
    	<div class="rowfooter">
            <div class="clear"></div>
    		            <div class="footercols4"><h3>Get In Touch</h3><div class="spacecode" style="height:40px;"></div><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 24px;">Phone:</span>8850068773</p><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 28px;">E-mail:</span>yug.jain@spit.ac.in</a></p><p style="margin-bottom: 5px;"><span style="color: #33cf9f; margin-right: 17px;">Website:</span></a></p></div>
            <div class="footercols4"><h3>Our Services</h3><div class="menu-services-container"><ul id="menu-services" class="footmenu"><li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42">Paper Recycling</li>
<li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43">Garbage Removal</li>
<li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46">Electronics recycling</li>
</ul></div>            </div>
            <div class="footercols4"><h3>Navigation</h3><div class="menu-footer-container"><ul id="menu-footer" class="footmenu"><li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-103"><a href="/" aria-current="page">Home</a></li>
<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="/pricing">Pricing</a></li>
<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="/pickup">Pick Up</a></li>
</ul></div></div>
            
                                </div>              
            <div class="clear"></div> 
    </div>
</div>
<!--Footer END-->
</div><!--layer_wrapper class END-->


<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.2.2' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/hoverIntent.min.js?ver=1.8.1' id='hoverIntent-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/comment-reply.min.js?ver=5.5.1' id='comment-reply-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/wp-embed.min.js?ver=5.5.1' id='wp-embed-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.0.9' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4' id='jquery-ui-position-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.0.9' id='share-link-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.0.9","is_static":false,"legacyMode":{"elementWrappers":true},"urls":{"assets":"https:\/\/sktperfectdemo.com\/demos\/junkremoval\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":68,"title":"Services%20%E2%80%93%20Junk%20Removal%20WordPress%20Theme","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://sktperfectdemo.com/demos/junkremoval/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.0.9' id='elementor-frontend-js'></script>
</body>
</html>